$color-text-price:#ff4b33; //价格颜色
$color-text-btn:#fff; // 按钮文字颜色
$color-bg-main:#fff; //主背景
$color-bg-category:#f8f8f8; //分类背景
$color-bg-btn:#02b6fe; //按钮背景
$color-bg-btn-no-active:#efefef; //按钮背景
$color-text-active:#02b6fe; //选中文字颜色